h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h3{
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

.nav-list a {
  font-family: 'Open Sans', sans-serif;
}


body{
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}